.coin__container {
    display:flex;
    justify-content:center;
    align-items:center;
    height:50vh;
    width:100vw;
}

@media screen  and (max-width:642px) {
    .coin__container {
        visibility:hidden;
    }
}