@keyframes rotateBigger {
    0% {
        transform:scale(0) rotate(0deg);
    }
    100%{
        transform:scale(1) rotate(360deg);
    }
}

@keyframes bigger {
    0% {
        transform:scale(0.6);
        opacity:0;
    }
    100%{
        transform:scale(1);
        opacity:1;
    }
}
