* {
 margin:0;
 padding:0;
 display:border-box; 
 scroll-behavior: smooth;  
 overflow-x:hidden;
}

a {
    color:unset;
    text-decoration:none;
}

button {
    text-decoration: none;
    border:none;
}

body {

}